
<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()"  [routerLink]="['/homePage']" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Home</span>
  </a>

  <a mat-list-item  (click)="onSidenavClose()"  [routerLink]="['/listarFuncionarios']" routerLinkActive="router-link-active" >
      <mat-icon>person</mat-icon>
      <span class="nav-caption"> Funcionários </span>
  </a>
  <a mat-list-item (click)="onSidenavClose()" [routerLink]="['/listarClientes']" routerLinkActive="router-link-active" >
      <mat-icon>person</mat-icon>
      <span class="nav-caption" > Clientes </span>
  </a>
  <!-- <a mat-list-item (click)="onSidenavClose()" [routerLink]="['/listarEmpresas']" routerLinkActive="router-link-active" >
      <mat-icon>domain</mat-icon>
      <span class="nav-caption" > Empresas </span>
  </a> -->

  <a mat-list-item  (click)="onSidenavClose()"  [routerLink]="['/sair']" routerLinkActive="router-link-active" >
      <mat-icon>exit_to_app</mat-icon>
      <span class="nav-caption"> Logout </span>
  </a>
</mat-nav-list>
