<button mat-button mat-dialog-close class="btn-close">{{labelClose}}</button>
<h2 mat-dialog-title class="title-modal">Cadastro de Empresa</h2>

  <mat-dialog-content>
    <form>
            <mat-form-field class="umaLinha">
              <input matInput placeholder="Nome:"  name="emp_nome" [(ngModel)]="nome" size="500" required >
              <button mat-button *ngIf="nome" matSuffix mat-icon-button aria-label="Limpar" (click)="nome=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

              <mat-form-field class="duasLinhas">
                <input matInput placeholder="Endereço:"  name="emp_end" [(ngModel)]="endereco" required>
                <button mat-button *ngIf="endereco" matSuffix mat-icon-button aria-label="Limpar" (click)="endereco=''">
                  <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>

            <mat-form-field class="login-full-width">
              <input matInput placeholder="Numero"  type="numero" name="emp_numero" [(ngModel)]="numero" required>
              <button mat-button *ngIf="numero" matSuffix mat-icon-button aria-label="Limpar" (click)="numero=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>


            <mat-form-field class="duasLinhas">
              <input matInput placeholder="Cidade:"  name="emp_cidade" [(ngModel)]="cidade" required>
              <button mat-button *ngIf="cidade" matSuffix mat-icon-button aria-label="Limpar" (click)="cidade=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            
            <mat-form-field>
              <input matInput placeholder="Bairro"  name="emp_bairro" [(ngModel)]="bairro" required>
              <button mat-button *ngIf="bairro" matSuffix mat-icon-button aria-label="Limpar" (click)="bairro=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="duasLinhas">
              <input matInput placeholder="CEP:"  name="emp_cep" [(ngModel)]="cep" required>
              <button mat-button *ngIf="cep" matSuffix mat-icon-button aria-label="Limpar" (click)="cep=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            
            <mat-form-field>
              <input matInput placeholder="UF:"  name="emp_uf" [(ngModel)]="uf" required>
              <button mat-button *ngIf="uf" matSuffix mat-icon-button aria-label="Limpar" (click)="uf=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="duasLinhas">
              <input matInput placeholder="Unidade:"  name="emp_unideade" [(ngModel)]="unideade" required>
              <button mat-button *ngIf="unideade" matSuffix mat-icon-button aria-label="Limpar" (click)="unideade=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            
            <mat-form-field>
              <input matInput placeholder="Sala/Andar:"  name="emp_andar" [(ngModel)]="andar" required>
              <button mat-button *ngIf="andar" matSuffix mat-icon-button aria-label="Limpar" (click)="andar=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            
   
           <br><br>
      <mat-card-actions class="example-button-row">
          <button mat-raised-button color="primary">Salvar</button>
          <button mat-raised-button (click)="onNoClick()" color="basic">Voltar</button>
      </mat-card-actions>
      
    </form>
  </mat-dialog-content>
