.title-modal{
    text-align: center;
  }
  
  .btn-close{
    float: right;
    width: 40px;
    height: 40px;
    /* background-color: #c1c1c1; */
    /* color: #fff; */
    min-height: fit-content;
    min-width: fit-content;
  }
  .umaLinha{
    width: 400px;
  }
  .duasLinhas{
    margin-right: 20px;
    width: 200px;
  }
  