table {
  width: 100%;
}

.mat-form-field {
  font-size: 13px;
  width: 100%;
}

td, th {
  width: 13%;
}
.filtro{
  width: 25%;
}
.botao{
  width: 2%;
}

th{
  text-align: center;
  font-size: 15px;
  padding-left: 5%;
  font-weight: bold;
}
